body {
    color: #3a3a3a;
    -webkit-font-smoothing: antialiased;
    max-width: 992px;
    margin: 0 auto;
}

.centerdiv {
    margin:0 auto;
    float:none;
}

.centered {
    text-align: center;
}

.header h1, .header h2 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.header h1 {
     font-weight: 700; 
}

.header h2 {
    line-height:1.5;
    margin-bottom: 10px;
}

h1, h2, h3, h4 {
}

.header img {
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-header {
    padding: 20px;
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.row.campaigns, .row.tools {
    text-align:left;
}

.row.campaigns p, .row.tools p {
    padding: 5px 10px;
    font-family: Lato;
    font-size: 14px;
    margin-top: 0;
}

.row.campaigns h4, .row.tools h4 {
    padding: 5px 10px;
    margin-bottom: 0;
    font-weight: 300;
}

.item {height:400px;}

a.boxlink:hover {
    text-decoration:none;
}

.row.tools i.tool {
    text-align:center;
    display: block;
    margin-bottom:10px;
}

.row.tools a.boxlink:hover i.tool {
    color: #428bca;
}

a.boxlink .box i.fa-external-link {
    position:absolute;
    right: 2px;
    top: 3px;
    z-index:2;
    display:none;
    color: #A3A3A3;
}

a.boxlink:hover i.fa-external-link {
    display:inline-block;
}

a.boxlink:hover .box h2 {
    background-color: white;
    text-decoration:none;
    color: #2CABDF;
    font-weight: 400;
}

.box {
    /* border: 1px solid #2CABDF; */
    margin-bottom: 10px;
    position: relative;
}
 

.box h2 {
    color: #7E7E7E;
    background-color: #FFFFFF; 
    padding: 15px 10px 1px 12px;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0;
    border-top: 1px #68BCE0 solid;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
} 

.box p {
    font-size: 20px;
}

.box img {
    width:100%;
    padding: 0;
}
.row.join p {
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.row.join a#join {
    display:block;
    padding:15px;
    background-color: #68BCE0;
    border-radius: 7px;
    color: #fff;
    font-family: Lato, sans-serif;
    margin-top: 20px;
   transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out
}

.row.join a#join:hover {
    background-color: #A56EF8;
    text-decoration: none;

}


.row.join a#join:hover span {
    display:none;
    }


.row.join a#join:hover:after {
    content: 'Click.';
}

.row.footer {
    margin-top:80px;
}


.row.footer p {
    font-family: 'PT Serif', serif;
    font-size: 13px;   
}



@media screen and (max-width: 767px) {
    .header img {
        margin-top: 50px;
        margin-bottom: 20px;
        width: 250px;
    }

}


@media screen and (max-width: 991px) {
    .item {height:auto;}
    }
