.centered {
    text-align: center;
}

.header img {
    margin-top: 150px;
    margin-bottom: 50px;
}

.section-header {
    color: #f5f7f7;
    background-color: #7f8c8d;
    padding: 20px;
}

.box {
    border-left: 2px solid #f5f7f7;
    border-right: 2px solid #f5f7f7;
    padding: 10px;
    margin-left: -1px;
    margin-right: -1px;
}

.box h2 {
    color: #f5f7f7;
    background-color: #2c3e50; 
    padding: 10px;
} 

.box p {
    font-size: 20px;
}

.box img {
    width:100%;
}

@media screen and (max-width: 480px) {

    .header img {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}
